[Desktop Entry]
Version=1.0
Type=Application
Name=Run Pat
Comment=Runs Pat Winlink Client
Exec=/home/pi/bin/run_pat.sh gui
Icon=mail
Path=
Terminal=true
StartupNotify=false
